.my-text {
  color: blue;
}

.lista {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}


.foto-tarjeta {
  max-width: 200px;
  height: 200px;
  margin: 0 auto;

}

